.form-container {
    padding-top: 100px;
}
  
.forms {
    background-color: aliceblue;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;;
    padding: 20px;
    
  }
.button {
    width: 100%;
}