.search-card{
    width: 90%;
    margin-top: 50px;
    margin-left: 80px;
  }
  .mystudents-search-title{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table {
    max-width: 90%;
  }
  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .buttons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .btn-edit {
    margin-right: 4px;
  }
  .btn-save {
    margin-left: 4px;
  }
  input {
    border: none;
  }

